* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: "SF Pro Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #111111;
  max-width: 568px;
  margin: 0 auto;
}

a {
  color: #007AFF;
  text-decoration: none;
}

p {
  padding: 20px 20px 0 20px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form input,
.form textarea {
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  color: #111111;
  border-radius: 12px;
  border: 0;
  padding: 13px 18px;
  outline: 0;
  resize: none;
  line-height: 1.5;
  border: 1px solid #E5E5EA;
  appearance: none;
  -webkit-appearance: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #8E8E93;
}

.form input:focus,
.form textarea:focus {
  border: 1px solid #007AFF;
}

.form .form__email {
  margin-bottom: 16px;
}

.form .form__name {
  margin-bottom: 16px;
}

.form .form__message {
  margin-bottom: 20px;
}

.form .form__button {
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 18px;
  text-align: center;
  background: #007AFF;
  color: #ffffff;
  border: 0;
  border-radius: 12px;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.form .form__button:focus {
  border: 0;
  background: #0040DD;
}

.form .form__button--active {
  background-color: rgba(17, 17, 17, 0.2);
  cursor: default;
}

.success img {
  margin-top: 88px;
  width: 120px;
}

.success p {
  margin-top: 16px;
  text-align: center;
}
